{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
    </head>
	<body>
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Change Password</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Change Password</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">User Change Password</h3>
							</div>
							{% if msg %}
								<b style="color:blue;">{{msg}}</b>
							{% endif %}
							<form name="signup" method="post" action="{% url 'change-password' %}">
								{% csrf_token %}
							
							
							<div class="form-group">
								<input class="input" type="password" name="old_password" id="old_password" placeholder="Old Password">
								<span id="old_password_error"></span>
							</div>
							<div class="form-group">
								<input class="input" type="password" name="new_password" id="new_password" placeholder="New Password">
							</div>
							<div class="form-group">
								<input class="input" type="password" name="cnew_password" id="cnew_password" placeholder="Confirm New Password">
							</div>
							
							<div class="form-group">
								<input class="btn btn-primary" type="submit" value="Change Password">
							</div>
							</form>
						</div>
						<!-- /Billing Details -->

						

						
					</div>

					
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<script>
			$("#old_password").change(function(){
				var old_password=$(this).val();
		
				$.ajax({
					/* Put this URL in your urls.py file */
					url: '/ajax/validate_old_password/',
					data: {
						'old_password' : old_password
					},
					dataType: 'json',
					success: function(data){
						if(!data.is_taken){
							document.getElementById("old_password_error").innerHTML="Old Password didn't Matched"
						}else{
							document.getElementById("old_password_error").innerHTML="";
						}
					}
				});
			});
		
		</script>

	</body>
</html>
{% endblock %}